<mat-toolbar class="toolbar" color="primary">
  <span>My App</span>

  <button mat-fab extended color="accent" (click)="openDialog()">
    <mat-icon>add</mat-icon>
    Create
  </button>

  <ul class="nav-list">
    <li>
      <a mat-button routerLink="./auctions">Auctions</a>
    </li>
    <li>
      <a mat-button routerLink="./my-auctions">My Auctions</a>
    </li>
    <li>
      <a mat-button routerLink="/login">Login</a>
    </li>
    <li>
      <a mat-button routerLink="/register">Register</a>
    </li>
  </ul>

</mat-toolbar>
