:host {
  display: block;
  padding: 16px;
  border-width: 0;
  border-style: solid;
  border-radius: var(--mdc-elevated-card-container-shape);
  border-color: var(--mdc-elevated-card-container-color);
  background-color: var(--mdc-elevated-card-container-color);
  box-shadow: var(--mdc-elevated-card-container-elevation);
}
